@{
    ViewData["Title"] = "Home Page";
}

<div class="front-page">
    <div class="welcome" data-loading-text="Cześć">
        Cześć
    </div>
    <div class="welcome-name" data-loading-text="Nazywam_się_Adrianna_Piszcz">
        Nazywam_się_Adrianna_Piszcz
    </div>
</div>
