
<div class="contact-form">

<label for="name">
	Twoje imię:
</label>
<input type="text" id="name"/>
<label for="email">
	Twój email:
</label>
<input type="text" id="email" />
<label for="message">
	Wiadomość:
</label>
<textarea id="message">

</textarea>
<button type="submit">Wyślij</button>
</div>