@{
	// tytuł
	// grafika
	// dłuższy tekst z opisem projektu
	// technologie
}


<div class="projects">
	<div class="project">
		<h2> Nazwa projektu </h2>
		<img src="https://cdn.pixabay.com/photo/2015/09/17/16/40/book-944462_1280.jpg" />
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt tellus sit amet orci commodo iaculis. Nunc vitae odio nulla. Vivamus pretium metus lectus. Phasellus augue risus, condimentum non lacus. </p>
		<p>
			<b>#HTML</b>
			<b>#CSS</b>
			<b>#Angular</b>
		</p>
	</div>
	<div class="project">
		<h2> Nazwa projektu </h2>
		<img src="https://cdn.pixabay.com/photo/2015/09/17/16/40/book-944462_1280.jpg" />
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt tellus sit amet orci commodo iaculis. Nunc vitae odio nulla. Vivamus pretium metus lectus. Phasellus augue risus, condimentum non lacus. </p>
		<p>
			<b>#HTML</b>
			<b>#CSS</b>
			<b>#Angular</b>
		</p>
	</div>
	<div class="project">
		<h2> Nazwa projektu </h2>
		<img src="https://cdn.pixabay.com/photo/2015/09/17/16/40/book-944462_1280.jpg" />
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt tellus sit amet orci commodo iaculis. Nunc vitae odio nulla. Vivamus pretium metus lectus. Phasellus augue risus, condimentum non lacus. </p>
		<p>
			<b>#HTML</b>
			<b>#CSS</b>
			<b>#Angular</b>
		</p>
	</div>
	<div class="project">
		<h2> Nazwa projektu </h2>
		<img src="https://cdn.pixabay.com/photo/2015/09/17/16/40/book-944462_1280.jpg" />
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt tellus sit amet orci commodo iaculis. Nunc vitae odio nulla. Vivamus pretium metus lectus. Phasellus augue risus, condimentum non lacus. </p>
		<p>
			<b>#HTML</b>
			<b>#CSS</b>
			<b>#Angular</b>
		</p>
	</div>
	<div class="project">
		<h2> Nazwa projektu </h2>
		<img src="https://cdn.pixabay.com/photo/2015/09/17/16/40/book-944462_1280.jpg" />
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt tellus sit amet orci commodo iaculis. Nunc vitae odio nulla. Vivamus pretium metus lectus. Phasellus augue risus, condimentum non lacus. </p>
		<p>
			<b>#HTML</b>
			<b>#CSS</b>
			<b>#Angular</b>
		</p>
	</div>
	<div class="project">
		<h2> Nazwa projektu </h2>
		<img src="https://cdn.pixabay.com/photo/2015/09/17/16/40/book-944462_1280.jpg" />
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt tellus sit amet orci commodo iaculis. Nunc vitae odio nulla. Vivamus pretium metus lectus. Phasellus augue risus, condimentum non lacus. </p>
		<p>
			<b>#HTML</b>
			<b>#CSS</b>
			<b>#Angular</b>
		</p>
	</div>
	<div class="project">
		<h2> Nazwa projektu </h2>
		<img src="https://cdn.pixabay.com/photo/2015/09/17/16/40/book-944462_1280.jpg" />
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt tellus sit amet orci commodo iaculis. Nunc vitae odio nulla. Vivamus pretium metus lectus. Phasellus augue risus, condimentum non lacus. </p>
		<p>
			<b>#HTML</b>
			<b>#CSS</b>
			<b>#Angular</b>
		</p>
	</div>
	<div class="project">
		<h2> Nazwa projektu </h2>
		<img src="https://cdn.pixabay.com/photo/2015/09/17/16/40/book-944462_1280.jpg" />
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt tellus sit amet orci commodo iaculis. Nunc vitae odio nulla. Vivamus pretium metus lectus. Phasellus augue risus, condimentum non lacus. </p>
		<p>
			<b>#HTML</b>
			<b>#CSS</b>
			<b>#Angular</b>
		</p>
	</div>

</div>