@{
	// tytuł
	// grafika
	// dłuższy tekst z opisem projektu
	// technologie
}
@model List<Project>

<div class="projects">

	@foreach (var project in Model)
	{
		
	<div class="project">
		<h2> @project.Name </h2>
		<img src="@project.Pic" />
		<p> @project.Desc </p>
		<p>
			@foreach (var tech in project.Technologies.Split(","))
				{
					<b>#@tech</b>
				}
		</p>
	</div>
	
	}
</div>